{{!-- TODO
{{beat-grid
  class="ArrangementGrid-beatgrid"
  width=arrangementWidth
  scale=exported
}}
 --}}

<div class="ArrangementGrid-beatgrid" {{bind-attr style="beatgridStyle"}}>
  {{#if arrangementWidth}}
    {{#data-visual
      as |svg width height|
    }}
        {{!-- onhover=(action "track") --}}
          {{!-- {{cart-tracker select=svg.chart.tracker model=tracked
          xScale=xScale yScale=yScale width=width height=height
        }} --}}
      {{arrangement-grid-axis
        select=(svg-transition svg.x-axis)
        scale=exportedXScale
        orient="bottom"
        tickSize=(negative-number height)
        ticks=8
        tickPadding=6
      }}
    {{/data-visual}}
  {{/if}}
</div>

{{yield}}

<div class="SimpleArrangement-playhead" {{bind-attr style=playheadStyle}}></div>
