<div class="ui container grid">
  <div class="row">
    {{mix-builder/header
      mix=mix
    }}
  </div>

  <div class="row">
    {{mix-builder/tracklist
      mix=mix
      selectedTransition=selectedTransition

      selectTransition=(action attrs.selectTransition)
      zoomToClip=(action "zoomToClip")
      removeItem=(action "removeItem")
    }}
  </div>

  {{!-- {{mix-builder/transition-controls
    isVisible=selectedTransition
    selectedClip=selectedClip
    selectedQuantization=selectedQuantization
    selectQuantization=selectQuantization
    zoomToClip=zoomToClip
  }} --}}
</div>

<div class="MixBuilder-workstation">
  {{mix-visual
    class="MixBuilder-mixVisual"
    mix=mix
    selectedTransition=selectedTransition
    selectedClip=selectedClip
    actionReceiver=mixVisual

    selectTransition=(action attrs.selectTransition)
    selectClip=(action "selectClip")
    quantizeBeat=(action "quantizeBeat")
    seekToBeat=(action "seekToBeat")
  }}

  {{mix-builder/playback-controls
    mix=mix
    selectedTransition=selectedTransition
  }}

  {{!-- {{mix-builder/clip-controls
    isVisible=selectedTransition
    selectedClip=selectedClip
  }} --}}
</div>
