{{page-drop action="onPageDrop"}}

<div class="ui container grid">
  <div class="row">
    {{mix-builder/header
      mix=mix
      mixSaveTask=mixSaveTask
      mixExportTask=mixExportTask

      addTrack=(action "addTrack")
      exportMix=(action "exportMix")
      saveMix=(action "saveMix")
      destroyMix=(action attrs.destroyMix)
    }}
  </div>

  <div class="row">
    {{mix-builder/tracklist
      mix=mix
      selectedTransition=selectedTransition

      selectTransition=(action "selectTransition")
      zoomToClip=(action "zoomToClip")
      removeItem=(action "removeItem")
      moveItem=(action "moveItem")
      playItem=(action "playItem")
    }}
  </div>
</div>

<div class="MixBuilder-workstation">
  {{mix-builder/playback-controls
    mix=mix

    playpause=(action "playpause")
    skipBack=(action "skipBack")
    jumpTrack=(action "jumpTrack")
  }}

  {{mix-visual
    class="MixBuilder-mixVisual"
    mix=mix
    showAutomation=showAutomation
    selectedTransition=selectedTransition
    selectedClip=selectedClip
    actionReceiver=mixVisualActionReceiver

    selectTransition=(action "selectTransition")
    selectClip=(action "selectClip")
    quantizeBeat=(action "quantizeBeat")
    seekToBeat=(action "seekToBeat")
  }}

  {{mix-builder/precision-controls
    isVisible=(not (not selectedTransition))
    selectedTransition=selectedTransition
    showAutomation=showAutomation
    jumpTrackTask=jumpTrackTask

    jumpTrack=(action "jumpTrack")
    selectTransition=(action "selectTransition")
    quantizeBeat=(action "quantizeBeat")
    toggleShowAutomation=(action toggleProperty "showAutomation")
  }}

  {{!-- {{quantize-dropdown
    selected=selectedQuantizations
    onSelect=(action "selectQuantization")
  }} --}}
</div>
