{{page-drop action="onPageDrop"}}

<div class="VerticalLayout-fixedSection ui container grid">
  <div class="row">
    {{mix-builder/header
      mix=mix
      mixSaveTask=mixSaveTask
      mixRecordTask=mixRecordTask

      addTrack=(action "addTrack")
      recordMix=(action "recordMix")
      stopRecord=(action "stopRecord")
      saveMix=(action "saveMix")
      destroyMix=(action attrs.destroyMix)
    }}
  </div>
</div>

<div class="js-MixBuilder-trackList VerticalLayout-flexSection u-scrollable ui container grid">
  <div class="row">
    {{mix-builder/tracklist
      mix=mix
      selectedTransition=selectedTransition

      selectTransition=(action "selectTransition")
      zoomToClip=(action "zoomToClip")
      removeItem=(action "removeItem")
      moveItem=(action "moveItem")
      playItem=(action "playItem")
    }}
  </div>
</div>

<div class="MixBuilder-workstation VerticalLayout-fixedSection">
  {{mix-builder/playback-controls
    class="MixBuilder-playbackControls"
    mix=mix

    playpause=(action "playpause")
    skipBack=(action "skipBack")
    jumpTrack=(action "jumpTrack")
  }}

  {{mix-visual
    class="MixBuilder-mixVisual"
    mix=mix
    selectedAutomation=selectedAutomation
    selectedTransition=selectedTransition
    selectedClip=selectedClip
    actionReceiver=mixVisualActionReceiver

    selectTransition=(action "selectTransition")
    selectClip=(action "selectClip")
    quantizeBeat=(action "quantizeBeat")
    seekToBeat=(action "seekToBeat")
  }}

  {{mix-builder/precision-controls
    isVisible=(not (not selectedTransition))
    selectedTransition=selectedTransition
    selectedAutomation=selectedAutomation
    jumpTrackTask=jumpTrackTask

    jumpTrack=(action "jumpTrack")
    selectTransition=(action "selectTransition")
    selectAutomation=(action "selectAutomation")
    quantizeBeat=(action "quantizeBeat")
    toggleShowAutomation=(action toggleProperty "selectedAutomation")
  }}

  {{!-- {{quantize-dropdown
    selected=selectedQuantizations
    onSelect=(action "selectQuantization")
  }} --}}
</div>
