{{play-buttons
  isDisabled=notReady
  isPlaying=isPlaying
  playpause='playpause'
  skipBack='skipBack'
  skipForth='skipForth'
}}

<hr/>

<div>BPM: {{input type="number" value=metronome.bpm}}</div>
{{#each clip in arrangement.clips}}
  <div>
    Pitch: {{input type="number" value=clip.clip.pitch}}
  </div>
{{/each}}
<hr/>

<div>arrangementPlayer isReady {{isReady}}</div>
{{#each clip in arrangement.clips}}
  <div>clip isReady {{clip.isReady}}</div>
{{/each}}

<hr/>

{{#each event in _clipEvents}}
  <div>event {{event.arrangementClip.clip.track.title}}</div>
{{/each}}

<hr/>

{{#simple-arrangement
  arrangement=arrangement
  isReady=isReady
  seekToClick='seekToClick'
}}
  {{#each row in arrangement.rows}}
    {{#arrangement-row model=row}}
      {{#each clip in row.clips}}
        {{arrangement-clip model=clip metronome=metronome}}
      {{/each}}
    {{/arrangement-row}}
  {{/each}}
{{/simple-arrangement}}
