<div>
  From &middot;
  {{#link-to "track" fromTrack}}
    {{fromTrack.title}}
  {{/link-to}}

  &middot; To &middot;
  {{#link-to "track" toTrack}}
    {{toTrack.title}}
  {{/link-to}}
</div>

<div>
  {{#with mixItem.mix as |mix|}}
    Mix &middot; {{#link-to "mixes.mix"}}{{mix.id}}{{/link-to}}
  {{/with}}
</div>

{{#arrangement-visual
  arrangement=arrangement
  zoom=zoom
  isReady=isReady
  seekToBeat=(action "seekToBeat")
  class="SimpleMix-arrangementVisual"
  as |gridSelect width height|
}}

  {{!-- From Track Clip --}}
  {{arrangement-visual/track-clip
    select=gridSelect.SimpleMix-FromTrackClip
    clip=fromTrackClip
    startBeat=fromTrackClip.startBeat
    height=height
    row=1
  }}

  {{!-- Transition Clip --}}
  {{arrangement-visual/transition-clip
    select=gridSelect.SimpleMix-TransitionClip
    clip=transitionClip
    startBeat=transitionClip.startBeat
    height=height
    onClick=(action 'onTransitionClipClick')
    row=2
  }}

  {{!-- To Track Clip --}}
  {{arrangement-visual/track-clip
    select=gridSelect.SimpleMix-ToTrackClip
    clip=toTrackClip
    startBeat=toTrackClip.startBeat
    height=height
    onClick=(action 'onTransitionClipClick')
    row=3
  }}
{{/arrangement-visual}}

<div>FromTrack EndBeat: {{transition.fromTrackEndBeat}}</div>
<div>ToTrack StartBeat: {{transition.toTrackStartBeat}}</div>
<div>Transition Length: {{transition.beatCount}}</div>

<div class="tiny inverted basic circular yellow ui icon button" {{action "viewTransition"}}>
  <i class="search icon"></i>
</div>
<div class="tiny inverted basic circular green ui icon button" {{action "playTransition"}}>
  <i class="play icon"></i>
</div>

<div class="ui grid">
  <div class="five wide column">
    {{play-buttons
      isDisabled=notReady
      isPlaying=isPlaying
      playpause="playpause"
      skipBack="skipBack"
      skipForth="skipForth"
    }}
  </div>

  <div class="five wide column">
    {{quantize-dropdown
      selected=selectedQuantizations
      onSelect=(action "selectQuantization")
    }}
  </div>

  <div class="four wide column">
    Transition Length: {{input type="number" value=inputTransitionLength min="0" max="200" }}
  </div>
</div>

<hr/>

<div>BPM: {{input type="number" value=inputBpm min="0" max="200" }}</div>
<div>Zoom: {{input type="range" value=inputZoom min="2" max="20" step="0.5"}}</div>

<hr/>
{{#each mix.trackClips as |clip|}}
  <div>
    Pitch: {{input type="number" value=clip.pitch}}
    Volume: {{input type="range" value=clip.volume min="0" max="1" step="0.1"}}
  </div>
{{/each}}
<hr/>

<div>arrangementPlayer isReady {{isReady}}</div>
{{#each arrangement.clips as |clip|}}
  <div>clip isReady {{clip.isReady}}</div>
{{/each}}
