{{play-buttons
  isDisabled=notReady
  isPlaying=isPlaying
  playpause='playpause'
  skipBack='skipBack'
  skipForth='skipForth'
}}

<hr/>

<div>BPM: {{input type="number" value=metronome.bpm}}</div>
{{#each clip in arrangement.clips}}
  <div>
    Pitch: {{input type="number" value=clip.clip.pitch}}
  </div>
{{/each}}
<hr/>

<div>arrangementPlayer isReady {{isReady}}</div>
{{#each clip in arrangement.clips}}
  <div>clip isReady {{clip.isReady}}</div>
{{/each}}

<hr/>

{{#simple-arrangement
  arrangement=arrangement
  metronome=metronome
  isReady=isReady
  seekToClick='seekToClick'
}}
  {{#arrangement-row}}
    {{#each clipEvent in clipEvents}}
      {{arrangement-clip
        clipEvent=clipEvent
        metronome=metronome
      }}
    {{/each}}
  {{/arrangement-row}}
{{/simple-arrangement}}
