<div>{{mix.title}}</div>
<div class="inverted green ui icon button test-save-mix {{if mix.anyDirty "" "basic disabled"}}" {{action "saveMix"}}>
  <i class="cloud upload icon"></i>
  Save Mix
</div>
<div class="inverted red ui icon button test-delete-mix" {{action "deleteMix"}}>
  <i class="remove icon"></i>
  Delete Mix
</div>
<div class="inverted purple ui icon button" {{action "appendRandomTrack"}}>
  <i class="shuffle icon"></i>
  Add Random Track
</div>

{{search-tracks
  tracksPromise=searchTracks
  action="addTrack"
}}

{{search-soundcloud-tracks
  selectTrack="addTrack"
  store=store
}}

{{!-- {{search-transitions
  transitions=searchTransitions
  action="appendTransitionWithTracks"
}} --}}

<hr/>

{{#mix-list mix=mix}}
  {{#each mix.items as |item|}}
    {{mix-list/item
      item=item
      remove="removeItem"
      viewTrack="viewTrack"
      viewTransition="viewTransition"
      play="playItem"
      selectedClip=selectedClip
    }}
  {{/each}}
{{/mix-list}}

<hr/>

{{#if hasSelectedClip}}
  <div class="inverted green ui icon button {{if selectedClip.anyDirty "" "basic disabled"}}" {{action "saveSelectedClip"}}>
    <i class="save icon"></i>
    Save Changes
  </div>

  <div class="inverted yellow ui icon button" {{action "clearSelectedClip"}}>
    <i class="left caret icon"></i>
    Back To Mix
  </div>
{{/if}}

{{!-- TODO(REFACTOR): move to nested component? --}}
{{#if showArrangement}}
  {{#arrangement-visual
    pxPerBeat=pxPerBeat
    arrangement=arrangement
    zoom=zoom
    isReady=isReady
    seekToBeat=(action "seekToBeat")
    class="SimpleMix-ArrangementVisual"
    as |gridSelect width height|
  }}

    {{!-- Track Clips --}}
    {{#zip-entries select=gridSelect.SimpleMix-trackClips items=mix.trackClips as |trackClip tag|}}
      {{mix-visual/track-clip
        clip=trackClip
        select=tag
        selectedClip=selectedClip
        track=trackClip.track
        beatCount=trackClip.beatCount
        startBeat=trackClip.startBeat
        audioStartTime=trackClip.audioStartTime
        fullHeight=height
        rowHeight=rowHeight
        pxPerBeat=pxPerBeat
      }}
    {{/zip-entries}}

    {{!-- Transition Clips --}}
    {{#zip-entries select=gridSelect.SimpleMix-transitionClips items=mix.transitionClips as |transitionClip tag|}}
      {{mix-visual/transition-clip
        select=tag
        selectedClip=selectedClip
        startBeat=transitionClip.startBeat
        beatCount=transitionClip.beatCount
        fullHeight=height
        rowHeight=rowHeight
        onClick=(action "didSelectClip" transitionClip)
        pxPerBeat=pxPerBeat
      }}
    {{/zip-entries}}
  {{/arrangement-visual}}

  {{play-buttons
    isDisabled=notReady
    isPlaying=isPlaying
    playpause="playpause"
    skipBack="skipBack"
    skipForth="skipForth"
  }}

  <hr/>

  <div>pxPerBeat: {{input type="range" value=inputZoom min="0.5" max="100" step="0.5"}}</div>
  <div>BPM: {{input type="number" value=inputBpm min="0" max="200" }}</div>
{{/if}}