<div>Linx Track</div>
<div>{{track.title}}</div>
<div>{{track.artist}}</div>

{{simple-arrangement
  arrangement=arrangement
  pxPerBeat=25
  onTrackClipDrag=(action "onTrackClipDrag")
  onTrackClipDragStart=(action "onTrackClipDragStart")
}}

<hr/>

<div class="inverted blue ui icon button" {{action "nudgeLeft" 100}}>
  <i class="fast backward icon"></i>
</div>
<div class="inverted blue ui icon button" {{action "nudgeLeft" 10}}>
  <i class="step backward icon"></i>
</div>
<div class="inverted blue ui icon button" {{action "nudgeLeft" 1}}>
  <i class="left caret icon"></i>
</div>
<div class="inverted blue ui icon button" {{action "nudgeRight" 1}}>
  <i class="right caret icon"></i>
</div>
<div class="inverted blue ui icon button" {{action "nudgeRight" 10}}>
  <i class="step forward icon"></i>
</div>
<div class="inverted blue ui icon button" {{action "nudgeRight" 100}}>
  <i class="fast forward icon"></i>
</div>

<hr/>

<div class="inverted purple ui button" {{action "queueTrack" track}}>
  Queue
</div>
<div class="inverted orange ui button" {{action "analyzeTrack" track}}>
  Reset Analysis
</div>
