<div>Linx Track</div>
<div>{{track.title}}</div>
<div>{{track.artist}}</div>

<div class="TrackFull-clip">
  {{audio-clip
    model=clip
    isPlaying=isPlaying
    seekBeat=seekBeat
    pxPerBeat=pxPerBeat
    disableMouseInteraction=false
  }}
</div>

{{play-buttons
  isPlaying=isPlaying
  playpause='playpause'
  skipBack='skipBack'
  skipForth='skipForth'
}}

<div class="inverted purple ui button" {{action "queueTrack" track}}>Queue</div>

<hr/>

{{#if displayAudioParams.length}}
  <div>Analysis</div>
  {{#each param in displayAudioParams}}
    <div>{{param.key}}&nbsp;{{param.value}}</div>
  {{/each}}
{{else}}
  <div>Analysis Pending</div>
{{/if}}

<hr/>

<div>Echonest Track</div>
<div>{{echonestTrack.title}}</div>
<div>{{echonestTrack.artist}}</div>
