<td>
  <span class="MixBuilderTracklistItem-index">
    {{!-- {{mix-builder/input type="number" value=item.position update=(action updateItemPosition)}} --}}
    {{item.position}}
  </span>
  <div class="MixBuilderTracklistItem-buttonGroup">
    <div class="small inverted basic green ui icon button no-border" {{action "playItem"}}>
      <i class="play icon"/>
    </div>
    <div class="small inverted teal ui icon button no-border {{if isSelectedTransition "" "basic"}}" {{action "selectItem"}}>
      <i class="linkify icon"/>
    </div>
    <div class="small inverted basic yellow ui icon button no-border {{if item.isFirstItem 'disabled'}}" {{action "updateItemPosition" -1}}>
      <i class="caret up icon"/>
    </div>
    <div class="small inverted basic yellow ui icon button no-border {{if item.isLastItem 'disabled'}}" {{action "updateItemPosition" 1}}>
      <i class="caret down icon"/>
    </div>
    <div class="small inverted basic red ui icon button no-border" {{action "removeItem"}}>
      <i class="remove icon"/>
    </div>
  </div>
</td>
<td>
  <div class="row">
    {{#if track.uploadFileTask.isRunning}}
      <div class="ui active small inline loader"/> Uploading File...
    {{/if}}

    {{mix-builder/input type="text" value=track.title update=(action (mut track.title))}}
  </div>
</td>
<td>
  {{mix-builder/input type="text" value=track.artist update=(action (mut track.artist))}}
</td>
<td>
  {{mix-builder/input type="text" value=track.audioMeta.keyText update=(action (mut track.audioMeta.keyText))}}
</td>
<td>
  {{mix-builder/input type="number" value=track.audioMeta.bpm update=(action updateTrackBpm)}}
</td>