<td>
  <span class="MixBuilderTracklistItem-index">{{item.position}}</span>
  <div class="MixBuilderTracklistItem-buttonGroup">
    <div class="small inverted basic green ui icon button no-border" {{action "playItem"}}>
      <i class="play icon"/>
    </div>
    <div class="small inverted basic teal ui icon button no-border {{if isSelectedTransition "disabled"}}" {{action "selectTransition"}}>
      <i class="linkify icon"/>
    </div>
    <div class="small inverted basic red ui icon button no-border" {{action "removeItem"}}>
      <i class="remove icon"/>
    </div>
  </div>
</td>
<td>{{item.track.title}}</td>
<td>{{item.track.artist}}</td>
<td>{{item.track.audioMeta.camelotKey}}&nbsp;{{item.track.audioMeta.keyName}}</td>
<td>{{item.track.audioMeta.bpm}}</td>