<td>
  <span class="MixBuilderTracklistItem-index">{{item.position}}</span>
  <div class="MixBuilderTracklistItem-buttonGroup">
    <div class="small inverted basic green ui icon button no-border" {{action "playItem"}}>
      <i class="play icon"/>
    </div>
    <div class="small inverted teal ui icon button no-border {{if isSelectedTransition "" "basic"}}" {{action "selectTransition"}}>
      <i class="linkify icon"/>
    </div>
    <div class="small inverted basic red ui icon button no-border" {{action "removeItem"}}>
      <i class="remove icon"/>
    </div>
  </div>
</td>
<td>
  {{mix-builder/input type="text" value=track.title}}</td>
<td>
  {{mix-builder/input type="text" value=track.artist}}</td>
<td>
  {{track.audioMeta.camelotKey}}&nbsp;{{track.audioMeta.keyName}}
</td>
<td>
  {{mix-builder/input type="number" value=track.audioMeta.bpm}}
</td>