<td>
  <span class="MixBuilderTracklistItem-index">{{index}}</span>
  <div class="MixBuilderTracklistItem-buttonGroup">
    <div class="small inverted green ui icon button no-border" {{action "playItem"}}>
      <i class="play icon"/>
    </div>
    <div class="small inverted teal ui icon button no-border" {{action "selectTransition"}}>
      <i class="linkify icon"/>
    </div>
    <div class="small inverted red ui icon button no-border" {{action "removeItem"}}>
      <i class="remove icon"/>
    </div>
  </div>
</td>
<td>{{item.track.title}}</td>
<td>{{item.track.artist}}</td>
<td>{{item.track.audioMeta.camelotKey}}&nbsp;{{item.track.audioMeta.keyName}}</td>
<td class="right align">{{item.track.audioMeta.bpm}}</td>