<h3 class="inverted ui header">
  <i class="linkify icon"/>
  <div class="content">
    Transition Clip
  </div>
</h3>

<div class="basic inverted orange ui icon button" {{action "optimizeTransition"}}>
  <i class="refresh icon"></i>
  Optimize Transition
</div>

<div class="inverted teal ui icon button {{if attrs.selectedAutomation '' 'basic'}}" {{action "toggleShowAutomation"}}>
  <i class="volume {{if attrs.selectedAutomation 'up' 'off'}} icon"></i>
  {{if attrs.selectedAutomation 'Hide' 'Show'}} Volume Automation
</div>

<div style="margin: 5px 0;">
  # Points
  {{x-slider min=2 max=10 step=1 value=optimizeControlPointCount}}
  <span class="MixBuilderPrecisionControls-number">{{optimizeControlPointCount}}</span>
</div>

<div style="margin: 5px 0;">
  Start Volume
  {{x-slider min=0 max=1 step=0.01 value=optimizeStartVolume}}
  <span class="MixBuilderPrecisionControls-number">{{optimizeStartVolume}}</span>
</div>

<div class="inverted tiny ui basic button"
  {{action "snapToBeat"}}>
  Snap
</div>

{{#lx-dropdown
  selected=selectedAutomation
  onSelect=(action selectAutomation)
  class="basic inverted inline button selection"
}}
  <input type="hidden" name="selectAutomation">
  <div class="default text">Select Automation</div>
  <div class="menu">
    {{#each-in automationOptions as |key value|}}
      <div class="item" data-value="{{key}}" data-text="{{value}}">{{value}}</div>
    {{/each-in}}
  </div>
{{/lx-dropdown}}
