<div class="content">
  {{position}} &middot;
  <div class="tiny inverted basic circular yellow ui icon button" {{action "view" item}}>
    <i class="search icon"></i>
  </div>
  <div class="tiny inverted basic circular green ui icon button" {{action "play" item}}>
    <i class="play icon"></i>
  </div>
  {{#link-to "mixes.mix.transition" transition}}
    <div class="tiny inverted basic circular orange ui icon button">
      <i class="pencil icon"></i>
    </div>
  {{/link-to}}
  <div class="tiny inverted basic circular red ui icon button" {{action "remove" item}}>
    <i class="remove icon"></i>
  </div>

  &middot; From &middot;
  {{#link-to "track" fromTrack}}
    {{fromTrack.title}}
  {{/link-to}}

  &middot; To &middot;
  {{#link-to "track" toTrack}}
    {{toTrack.title}}
  {{/link-to}}

</div>
