<div>{{model.title}}</div>
<div class="inverted red ui icon button" {{action 'deleteMix'}}>
  <i class="remove icon"></i>
  Delete Mix
</div>

<hr/>

{{search-tracks tracks=tracks action="appendTrack"}}

<hr/>

{{#mix-list mix=model}}
  {{#each item in model.content}}
    {{mix-list-item
      item=item
      createTransitionAt='createSimpleTransitionAt'
      removeTrackAt='removeTrackAt'
      removeTransitionAt='removeTransitionAt'
    }}
  {{/each}}
{{/mix-list}}

{{page-drop action="onPageDrop"}}
