<h3>{{track.title}} - {{track.artist}}</h3>

<div style="margin: 5px 0;">
  Transpose
  {{x-slider min=-11 max=11 step=1 value=clip.transpose}}
  {{clip.transpose}}
</div>

<div style="margin: 5px 0;">
  Gain
  {{x-slider min=0 max=2 step=0.01 value=track.audioMeta.gain}}
  {{track.audioMeta.gain}}
</div>

<div>
  Audio Start Beat {{clip.audioStartBeat}}
</div>

<div>
  Audio End Beat {{clip.audioEndBeat}}
</div>

<div>
  Synced Tempo {{clip.tempo}}
</div>