<div class="ui container grid">
  <div class="five wide column ui middle aligned grid">
    {{search-tracks
      tracksPromise=searchTracks
      action=attrs.addTrack
    }}
  </div>

  <div class="six wide column">
    <h2 class="ui inverted centered grey header">
      <div class="content">
        {{mix-builder/text-input
          class="MixBuilderHeader-input"
          value=mix.title
        }}
        <div class="sub header">
          {{#if mix.isSaving}}
            Saving...
          {{else if mix.anyDirty}}
            Has dirty changes.
          {{else}}
            All changes saved.
          {{/if}}
        </div>
      </div>
    </h2>
  </div>

  <div class="five wide column ui middle aligned grid MixBuilderHeader-right">
    <div class="inverted green ui icon button test-save-mix {{if mix.anyDirty "" "basic disabled"}}" {{action "saveMix"}}>
      <i class="cloud upload icon"></i>
      Save Mix
    </div>
    <div class="inverted red ui icon button test-delete-mix" {{action "destroyMix"}}>
      <i class="remove icon"></i>
      Delete Mix
    </div>
  </div>
</div>