<div class="ui container grid">
  <div class="five wide column ui middle aligned grid">
    {{search-tracks
      tracksPromise=searchTracks
      action=attrs.addTrack
    }}

    {{soundcloud-url-input
      addTrack=(action addTrack)
    }}

    <div class="inverted no-border basic green ui icon button" {{action addTrack}}>
      <i class="add icon"></i>
      Empty Track
    </div>
  </div>

  <div class="six wide column">
    <h2 class="ui inverted centered grey header">
      <div class="content">
        {{mix-builder/input
          class="MixBuilderHeader-input"
          type="text"
          value=mix.title
          update=(action (mut mix.title))
        }}
        <div class="sub header">
          {{#if mixSaveTask.isRunning}}
            Saving...
          {{else if mix.anyDirty}}
            Has dirty changes.
          {{else}}
            All changes saved.
          {{/if}}
        </div>
      </div>
    </h2>
  </div>

  <div class="five wide column ui middle aligned grid MixBuilderHeader-right">
    {{#unless mixSaveTask.isRunning}}
      <div class="inverted green ui icon button test-save-mix {{if mix.anyDirty "" "basic disabled"}}" {{action "saveMix"}}>
        <i class="cloud upload icon"></i>
        Save Mix
      </div>
    {{else}}
      <div class="inverted basic disabled ui loading button">Saving...</div>
    {{/unless}}

    <div class="inverted red ui icon button test-delete-mix {{if mixSaveTask.isRunning "basic disabled"}}" {{action "destroyMix"}}>
      <i class="remove icon"></i>
      Delete Mix
    </div>

    {{#unless mixExportTask.isRunning}}
      <div class="inverted ui icon button" {{action exportMix}}>
        <i class="file audio outline icon icon"></i>
      </div>
    {{else}}
      <div class="inverted basic disabled ui loading button"></div>
    {{/unless}}
  </div>
</div>