<h2 id="title">Welcome to Ember.js</h2>

<div class="main-container">
  {{item.clip.type}}
  {{#arrangement-grid arrangement=arrangement}}
    {{#each row in arrangement.sortedRows}}
      {{#arrangement-row row=row}}
        {{#each item in row.items}}
          {{arrangement-item item=item}}
        {{/each}}
      {{/arrangement-row}}
    {{/each}}
  {{/arrangement-grid}}
</div>

{{#each item in items}}
  <div>{{item.id}} - {{item.clip.id}} - {{item.clip.file.name}}</div>
{{/each}}

<hr/>

{{#each track in tracks}}
  <div>{{track.title}}</div>
{{/each}}


{{page-drop action="onPageDrop"}}

{{outlet}}
