{{#if userSession.isWorking}}
  Working...
{{else}}
  <div class="inverted ui button" {{action "sendPasswordReset"}}>Send Password Reset Email</div>

  {{#unless userSession.isAuthenticated}}
    <form {{action "login" on="submit"}}>
     <label for="identification">Email</label>
      {{input value=identification placeholder="Enter Email" class="form-control"}}
      <label for="password">Password</label>
      {{input value=password type="password" placeholder="Enter Password"}}
      <button type="submit">Login</button>
    </form>

  {{else}}
    <div class="inverted ui button" {{action "logout"}}>Logout</div>
  {{/unless}}
{{/if}}

{{#if message}}
  {{message}}
{{/if}}