<div class="MixPage">

  {{page-drop action="onPageDrop"}}

  <div>{{model.title}}</div>
  <div class="inverted green ui icon button test-save-mix {{if model.anyDirty '' 'basic disabled'}}" {{action 'saveMix'}}>
    <i class="cloud upload icon"></i>
    Save Mix
  </div>
  <div class="inverted red ui icon button test-delete-mix" {{action 'deleteMix'}}>
    <i class="remove icon"></i>
    Delete Mix
  </div>
  <div class="inverted purple ui icon button" {{action "appendRandomTrack"}}>
    <i class="shuffle icon"></i>
    Add Random Track
  </div>

  {{search-tracks
    tracksPromise=searchTracks
    action="selectTrack"
  }}

  {{search-soundcloud-tracks
    selectTrack="selectTrack"
    store=store
  }}

  <div>
    <span>Insert Tracks With Transitions</span>
    {{input
      type="checkbox"
      checked=insertTracksWithTransitions
    }}
  </div>


  {{!-- {{search-transitions
    transitions=searchTransitions
    action="appendTransitionWithTracks"
  }} --}}

  <hr/>

  {{#mix-list mix=model}}
    {{#each model.items as |item|}}
      {{mix-list-item
        item=item
        remove="removeItem"
        view="viewItem"
        preview="previewItem"
      }}
    {{/each}}
  {{/mix-list}}

  <hr/>

  {{simple-mix
    mix=model
  }}

  <hr/>

  {{outlet}}

</div>
