<div class="MixPage">

  {{page-drop action="onPageDrop"}}

  <div>{{model.title}}</div>
  <div class="inverted green ui icon button test-save-mix {{if model.anyDirty '' 'basic disabled'}}" {{action 'saveMix'}}>
    <i class="cloud upload icon"></i>
    Save Mix
  </div>
  <div class="inverted red ui icon button test-delete-mix" {{action 'deleteMix'}}>
    <i class="remove icon"></i>
    Delete Mix
  </div>

  {{search-tracks
    tracks=searchTracks
    action="appendTrack"
  }}

  <hr/>

  {{#mix-list mix=model}}
    {{#each model.items as |item|}}
      {{mix-list-item
        model=item
      }}
    {{/each}}
  {{/mix-list}}

  <hr/>

  {{simple-arrangement
    arrangement=model.arrangement
  }}

  <hr/>

  {{outlet}}

</div>
