<div>TRANSITION</div>
<div>{{model.fromTrack.title}}&nbsp;&nbsp;-&nbsp;&nbsp;{{model.toTrack.title}}</div>
<div class="inverted orange ui icon button {{if model.anyDirty '' 'basic disabled'}}" {{action 'saveTransition'}}>
  <i class="cloud upload icon"></i>
  Save Transition
</div>
<div class="inverted red ui icon button" {{action 'deleteTransition'}}>
  <i class="remove icon"></i>
  Delete Transition
</div>

<hr/>

{{#if mix.arrangement}}
  {{simple-arrangement
    arrangement=mix.arrangement
    scrollCenterBeat=scrollCenterBeat
  }}
{{/if}}

<hr/>

<div>FromTrackEndBeat: {{input type="number" value=inputFromTrackEndBeat}}</div>
<div>ToTrackStartBeat: {{input type="number" value=inputToTrackStartBeat}}</div>
<div>Transition Length: {{input type="number" value=inputTransitionLength}}</div>
